<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyc.ai.mapper.AuthLogMapper">
    <insert id="insertAuthLog" parameterType="com.lyc.ai.pojo.entity.AuthLog">
        INSERT INTO auth_log (password, success, create_time)
        VALUES (#{password}, #{success}, #{createTime})
    </insert>
</mapper>